<h1>Addapp</h1>
<p>Addition Of Two Numbers</p>
<form action = "/addope/logic" >
       enter first number
       <br>
       <input type="text" name="txtnum1">
       <br>
       enter second number
       <br>
       <input type="text" name="txtnum2" >
       <br>
       <input type="submit" value="Addition"/>
      
 </form>